<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="rollingFile" filePattern="log/log_%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>        
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="rollingFile"/>
        </Root>
    </Loggers>
</Configuration>
